body{
    font-family: sans-serif;
    margin: 0px;
}
.sec1{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.sec2{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.sec3{
     background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 30px;
    padding-top: 150px;
}
.sec4{
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    width: 100%;
    height: 500px;
    padding: 5%;
}
.half-width{
    width: 40%;
    height: 90%;
    float: left;
}
.half-width img{
    position: relative;
    width: 80%;
    animation-name: picmove;
    animation-duration: 3s;
}
@keyframes picmove{
    from{left: 100px;}
    to{left:0px;}
}
.name{
    color: #EC4C7A;
    font-size: 50px;
    font-weight: bolder;
}
.half-width-text{
    margin-left: 5%;
    margin-right: 7%;
    padding-top: 10%;
}
.half-width-text h1{
    font-size: 35px;
}
.half-width-text p{
    margin-bottom: 40px;    
    color: gray;
    
}
.button{
    padding: 15px 30px;
    background-image: linear-gradient(45deg,#EC5196,#ED4B6F);
    color: white;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
}
.center{
    margin-left: 10%;
}
.card{
    margin-top: 40px;
    width: 25%;
    float: left;
    margin-left: 3%;
}
.card img{
    width: 100%;
}
.card:hover{
    position: relative;
    top: -30px;
    box-shadow: 10px 10px 40px gray;
}
.client-center{
    text-align: center;
}
.client-center h1{
    font-size: 40px;
    margin-top: -20px;
    margin-bottom: 40px;
}
.gray{
    color: gray;
    font-size: 13px;
    margin-bottom: 40px;
}
.client-center p{
    font-weight: 550;
}
button{
    margin-top: 50px;
    border: none;
    width: 500px;
    box-shadow: 10px 10px 40px gray;
}
.client{
    width: 100px; 
    height: 100px;
}
.icons{
    width: 100%;
    height: 60px;
    text-align: center;
    border-top: 1px solid;
    border-image: linear-gradient(90deg,pink,gray);
    border-image-slice: 1;
}
.top-40 h1{
    margin-top: -40px;
}
.all-icon{
    width: 25%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}
.all-icon img{
    margin-right: 10px;
    width: 40px;
    height: 40px;
    
}
footer{
    background-color: #575757;
    width: 100%;
    height: 300px;
    font-weight:500;
    padding-top: 20px;
    color: lightgray;
}
.footer-sec div{
    width:20%;
    height: 200px;
    float: left;
    margin-bottom: 40px;
}
.footer-sec div ul li {
    list-style-type: none;
    margin-bottom: 10px;
}
.footer-sec div ul li a{
    text-decoration: none;
    color: darkgray;
}
.subscribe{
    width: 40%;
    height: 200px;
    float: right;
    margin-bottom: 40px;
}
.email{
    float: left;
    height: 30px;
    width: 60%;
    font-size: 20px;
}
.btn{
    width: 20%;
    background-color: orange;
    border: none;
    color: white;
    padding: 10px 3px;
    text-decoration: none;
    margin-left: 2px;
    cursor: pointer;
    border-radius: 5px;
}
footer p{
    text-align: center;
}
